header {
    background-color: gray;
}

nav {
    display: inline;
}

#background-image {
    width: 100%;
    height: 100px;
}

li {
    list-style-type: none;
}

img {
    height: 50px;
    width: 50px;
}

.work-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    background-color: gray;
}

.grid-item-1 {
    grid-column: span 2;
}