* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: purple;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: 20px;
    padding: 10px;
}

.nav {
    display: inline;
    padding: 20px;
}

#background-image {
    width: 100%;
    height: 100px;
}

.main-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 10px 200px 200px;
    background-color: gray;
}

img {
    height: 50px;
    width: 50px;
}

.work-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.grid-item {
    background-color: purple;
}

#grid-item-1 {
    grid-column: span 2;
}

li {
    list-style-type: none;
}