* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8F8073;
}

header {
    background-color: #12130F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #5B9279;
    color: white;
    margin: 20px;
    margin-left: 0px;
    padding: 10px;
    padding-left: 40px;
}

.nav {
    background-color: #12130F;
    display: inline;
    padding: 20px;
    font-weight: bold;
    color: #8FCB9B;
    font-size: 20px;
}

#background-image {
    width: 100%;
    height: 100px;
}

h2 {
    font-size: 30px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 20px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-areas: "header header";
}

.grid-item {
    height: 200px;
    background: url('640x360.png');
}

.grid-item p {
    background-color: blue;
    position: absolute;
    font-size: 30px;
}

#grid-item-1 {
    grid-area: header;

}

li {
    list-style-type: none;
}