* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header {
    background-color: #DAE2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: black;
    color: white;
    margin: 20px;
    margin-left: -20px;
    padding: 10px;
    padding-left: 60px;
    border-radius: 20px;
}

.nav {
    background-color: white;
    display: inline;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

#yellow:hover {
    background-color: #FAAC43;
    color: white;
}

#pink:hover {
    background-color: #EA3B6B;
    color: white;
}

#blue:hover {
    background-color: #056CAF;
    color: white;
}

#background-image {
    width: 100%;
    height: 200px;
}

h2 {
    font-size: 30px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
    padding: 20px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-areas: "header header";
}

.grid-item {
    height: 200px;
    background: url(640x360.png);
    border-radius: 10px;
}

.grid-item:hover {
    box-shadow: 10px 10px 100px #7C357F;
}

.grid-item p {
    background-color: #FAAC43;
    color: white;
    border-radius: 10px;
    position: absolute;
    font-size: 20px;
    padding: 5px;
}

#grid-item-1 {
    grid-area: header;
    background: url(Capture.PNG);
}


footer {
    background-color: #FAAC43;
    align-items: center;
    height: 90px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
}
