* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    --gray: #3D3E3D;
    --very-light-yellow: #F4E2B8;
    --light-yellow: #E9C572;
    --yellow: #D5A021;
    --green: #87D8AD;
    --mint: #CDEDD5;
    --white: rgb(225, 225, 225);
}

header {
    background-color: var(--mint);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: var(--yellow);
    color: var(--white);
    text-emphasis: bold;
    margin: 20px;
    margin-left: -20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 40px;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: var(--light-yellow);
}

.nav {
    background-color: var(--white);
    display: inline;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: var(--black);
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    text-decoration: none;
}

#very-light-yellow:hover {
    background-color: var(--very-light-yellow);
}

#light-yellow:hover {
    background-color: var(--light-yellow);
}

#yellow:hover {
    background-color: var(--yellow);
}

#background-image {
    width: 100%;
    height: 200px;
}

h2 {
    font-size: 30px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
    padding: 20px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-areas: "header header";
}

.grid-item {
    height: 200px;
    background: url(640x360.png);
    border-radius: 10px;
}

.grid-item:hover {
    box-shadow: 10px 10px 100px var(--yellow);
} 

.grid-item p {
    background-color: var(--yellow);
    color: var(--white);
    border-radius: 10px;
    position: absolute;
    font-size: 20px;
    padding: 5px;
}

section a {
    float: right;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--gray); 
}

#grid-item-1 {
    grid-area: header;
    background: url(Capture.PNG)
}

footer {
    background-color: var(--green);
    align-items: center;
    height: 90px;
    position: relative;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    border-color: var(--black);
    border-style: solid;
    border-radius: 20px;
    background-color: var(--white);
}

.links {
    text-decoration: none;
}

@media screen and (max-width: 1499px) {
    header {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 200px;
    }
    
    h1 {
        margin-left: -20px;
        margin-right: -20px;
        padding: 10px;
    }

    footer {    
        height: 250px;
    }
  }